* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-container {
  background-image: linear-gradient(to bottom, #fbc7d4, #9796f0);
  min-height: 100vh;
  padding: 50px 25px;
  font-family: 'Roboto';
}

.appointment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.appointment-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 40px;
}

.appointment-heading {
  font-size: 34px;
  color: #171f46;
}

.form-container {
  padding-top: 30px;
  padding-bottom: 10px;
}

.inputs-con {
  margin-bottom: 15px;
}

.inputs-names {
  font-size: 15px;
  color: #b5b7c4;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.inputs {
  width: 90%;
  height: 30px;
  border-radius: 4px;
  padding-left: 8px;
  border: 2px solid #b5b7c4;
}

.add-btn {
  color: #ffffff;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color: #8b5cf6;
  border: none;
  cursor: pointer;
  outline: none;
}

.appointments-img {
  width: 500px;
}

.hr-line {
  height: 2px;
  color: #b5b7c4;
  width: 100%;
}

.appointments-container {
  padding-top: 30px;
}

.appointments-con1 {
  display: flex;
  justify-content: space-between;
}

.appointments-heading {
  font-size: 24px;
  color: #171f46;
}

.filter-style {
  font-size: 12px;
  font-weight: 600;
  border-radius: 25px;
  padding: 4px 16px;
  border: none;
  outline: none;
}

.filter-filled {
  color: #ffffff;
  background-color: #9897f0;
}

.filter-empty {
  color: #9897f0;
  border: 1px solid #9897f0;
  background-color: #ffffff;
}

.appointment-list-con {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}
